body {
  color: #666;
  background: grey;
}
.wrapper {
  padding: 5px;
  width: 960px;
  margin: 20px auto;
  background: #fff;
}
header {
  min-width: 100px
  padding: 0 15px;
  text-align: center;
}
header img {
  width: 20%;
  height: 20%;
}
.column-container {
  display: table;
  width: auto;
}
.first-column {
  width: 33%;
  padding: 5px 15px;
  background: #f0efef;
  display: table-cell;
}
.second-column {
  width: 33%;
  padding: 5px 15px;
  margin: 0px 5px 5px 5px;
  display: table-cell;
}
.third-column {
  width: 33%;
  padding: 5px 15px;
  background: #f0efef;
  display: table-cell;
}
footer{
  clear: both;
  padding: 15px 15px;
  text-align: center;
}
header, .column-container{
  margin-bottom: 5px;
}
.wrapper, header, .first-column, .second-column, .third-column, footer{
  border: solid 3px #ccc;
}
